# Kaggle Courses

## Pandas

### Lesson1 Tutorial & Exercise
#### Creating, Reading and Writing

##### Tutorial

In [3]:
import pandas as pd

In [4]:
# A DataFrame is a table. It contains an array of individual entries, each of which has a certain value. Each entry corresponds to a row (or record) and a column.

In [4]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [5]:
pd.DataFrame({'Bob' : ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.         Bland

In [6]:
# a dictionary whose keys are the column names (Bob and Sue in this example), and whose values are a list of entries.

In [ ]:
# The list of row labels used in a DataFrame is known as an Index

In [7]:
pd.DataFrame({'Bob' : ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']}, 
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [ ]:
# A Series is a sequence of data values and a single column of a DataFrame.
# If a DataFrame is a table, a Series is a list.

In [8]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# a Series does not have a column name, it only has one overall name

In [9]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'],
         name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [ ]:
wine_reviews = pd.read_csv('../input/wine-reviews/winemag-data-130k-v2.csv')

In [ ]:
wine_reviews.shape

In [ ]:
wine_reviews.head() # 5 rows

In [ ]:
# index_col=0 : pandas use that column for the index (instead of creating a new one from scratch)
wine_reviews = pd.read_csv('../input/wine_reviews/winemag-data-130k-v2.csv', index_col=0)
wine_reviews.head()

##### Exercise

In [ ]:
fruits = pd.DataFrame([[30, 21]], columns = ['Apples', 'Bananas'])

In [ ]:
fruit_sales = pd.DataFrame([[35, 21], [41, 34]], columns = ['Apples', 'Bananas'],
                          index=['2017 Sales', '2018 Sales'])

In [ ]:
quantities = ['4 cups', '1 cup', '2 large', '1 can']
items = ['Flour', 'Milk', 'Eggs', 'Spam']
recipe = pd.Series(quantities, index=items, name='Dinner')

In [ ]:
reviews = pd.read_csv('../input/wine-reviews/winemag-data_first150k.csv', index_col=0)

In [ ]:
animals.to_csv("cows_and_goats.csv")

### Lesson2 Tutorial & Exercise
#### Indexing, Selecting & Assigning

##### Tutorial

##### Exercise

### Lesson3 Tutorial & Exercise
#### Summary Functions and Maps

##### Tutorial

##### Exercise