# ProDS Associate 실기 대비 2

# Dataset_05

In [ ]:
# =============================================================================
# =============================================================================
# # 문제 05 유형(DataSet_05.csv 이용)
#
# 구분자 : comma(“,”), 8,068 Rows, 12 Columns, UTF-8 인코딩
#
# A자동차 회사는 신규 진입하는 시장에 기존 모델을 판매하기 위한 마케팅 전략을 
# 세우려고 한다. 기존 시장과 고객 특성이 유사하다는 전제 하에 기존 고객을 세분화하여
# 각 그룹의 특징을 파악하고, 이를 이용하여 신규 진입 시장의 마케팅 계획을 
# 수립하고자 한다. 다음은 기존 시장 고객에 대한 데이터이다.
#

# 컬 럼 / 정 의 / Type
# ID / 고유 식별자 / Double
# Age / 나이 / Double
# Age_gr / 나이 그룹 (10/20/30/40/50/60/70) / Double
# Gender / 성별 (여성 : 0 / 남성 : 1) / Double
# Work_Experience / 취업 연수 (0 ~ 14) / Double
# Family_Size / 가족 규모 (1 ~ 9) / Double
# Ever_Married / 결혼 여부 (Unknown : 0 / No : 1 / Yes : 2) / Double
# Graduated / 재학 중인지 여부 / Double
# Profession / 직업 (Unknown : 0 / Artist ~ Marketing 등 9개) / Double
# Spending_Score / 소비 점수 (Average : 0 / High : 1 / Low : 2) / Double
# Var_1 / 내용이 알려지지 않은 고객 분류 코드 (0 ~ 7) / Double
# Segmentation / 고객 세분화 결과 (A ~ D) / String
# =============================================================================
# =============================================================================

In [ ]:
#(참고)
#1
# import pandas as pd
# #2
# from scipy.stats import chi2_contingency
# #3
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.tree import export_graphviz
# import pydot

In [1]:
import pandas as pd

In [ ]:
# 결측치 인식 안 되는 경우 사전 처리

In [9]:
dataset5 = pd.read_csv('Dataset/Dataset_05.csv', na_values=["NA", "?", "", " "])

In [3]:
dataset5.columns

Index(['ID', 'Age', 'Age_gr', 'Gender', 'Work_Experience', 'Family_Size',
       'Ever_Married', 'Graduated', 'Profession', 'Spending_Score', 'Var_1',
       'Segmentation'],
      dtype='object')

In [4]:
dataset5.dtypes

ID                   int64
Age                  int64
Age_gr               int64
Gender               int64
Work_Experience    float64
Family_Size        float64
Ever_Married         int64
Graduated            int64
Profession           int64
Spending_Score       int64
Var_1                int64
Segmentation        object
dtype: object

In [5]:
dataset5.shape

(8068, 12)

In [6]:
dataset5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Age              8068 non-null   int64
 2   Age_gr           8068 non-null   int64
 3   Gender           8068 non-null   int64
 4   Work_Experience  7239 non-null   float64
 5   Family_Size      7733 non-null   float64
 6   Ever_Married     8068 non-null   int64
 7   Graduated        8068 non-null   int64
 8   Profession       8068 non-null   int64
 9   Spending_Score   8068 non-null   int64
 10  Var_1            8068 non-null   int64
 11  Segmentation     8066 non-null   object
dtypes: float64(2), int64(9), object(1)
memory usage: 756.5+ KB

## 1. Missing Value

In [ ]:
# =============================================================================
# 1.위의 표에 표시된 데이터 타입에 맞도록 전처리를 수행하였을 때, 데이터 파일 내에
# 존재하는 결측값은 모두 몇 개인가? 숫자형 데이터와 문자열 데이터의 결측값을
# 모두 더하여 답하시오.
# (String 타입 변수의 경우 White Space(Blank)를 결측으로 처리한다) (답안 예시) 123
# =============================================================================

In [7]:
dataset5.isna().sum()

ID                   0
Age                  0
Age_gr               0
Gender               0
Work_Experience    829
Family_Size        335
Ever_Married         0
Graduated            0
Profession           0
Spending_Score       0
Var_1                0
Segmentation         2
dtype: int64

In [8]:
dataset5.isna().sum().sum()

1166

In [ ]:
# (정답) 1166

## 2. Chi Square Test - Test of Independence

In [ ]:
# =============================================================================
# 2.이어지는 분석을 위해 결측값을 모두 삭제한다. 그리고, 성별이 세분화(Segmentation)에
# 영향을 미치는지 독립성 검정을 수행한다. 수행 결과, p-value를 반올림하여 소수점
# 넷째 자리까지 쓰고, 귀무가설을 기각하면 Y로, 기각할 수 없으면 N으로 기술하시오. 
# (답안 예시) 0.2345, N
# =============================================================================

In [12]:
q2 = dataset5.dropna()

In [13]:
len(dataset5), len(q2)

(8068, 6967)

In [14]:
q2_tab = pd.crosstab(index=q2.Gender, columns=q2.Segmentation)
q2_tab

Segmentation    A    B    C     D
Gender
0             784  759  826   772
1             909  872  953  1092

In [15]:
import scipy.stats as sc

In [16]:
q2_out = sc.chi2_contingency(q2_tab)
dir(q2_out)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [17]:
q2_out

(13.84425336760869,
 0.003125001283622576,
 3,
 array([[ 763.27156595,  735.31950624,  802.04377781,  840.36514999],
        [ 929.72843405,  895.68049376,  976.95622219, 1023.63485001]]))

In [18]:
q2_out[1]

0.003125001283622576

In [ ]:
# pvalue가 유의수준 0.05보다 작으므로 귀무가설을 기각함(Y)

In [ ]:
# (정답) 0.0031, Y

## 3. Decision Tree

In [ ]:
# =============================================================================
# 3.Segmentation 값이 A 또는 D인 데이터만 사용하여 의사결정 나무 기법으로 분류
# 정확도를
# 측정해 본다. 
# - 결측치가 포함된 행은 제거한 후 진행하시오.
# - Train대 Test 7대3으로 데이터를 분리한다. (Seed = 123)
# - Train 데이터를 사용하여 의사결정나무 학습을 수행하고, Test 데이터로 평가를
# 수행한다.
# - 의사결정나무 학습 시, 다음과 같이 설정하시오:
# • Feature: Age_gr, Gender, Work_Experience, Family_Size, 
#             Ever_Married, Graduated, Spending_Score
# • Label : Segmentation
# • Parameter : Gini / Max Depth = 7 / Seed = 123
# 이 때 전체 정확도(Accuracy)를 소수점 셋째 자리 이하는 버리고 소수점 둘째자리까지
# 기술하시오.
# (답안 예시) 0.12
# =============================================================================

In [ ]:
# 결측치 있으면 Decision Tree 사용 불가

In [19]:
q3 = q2[q2.Segmentation.isin(['A', 'D'])]
len(q2), len(q3)

(6967, 3557)

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [21]:
train, test = train_test_split(q3, 
                               test_size=0.3, 
                               random_state=123)

In [22]:
train.columns

Index(['ID', 'Age', 'Age_gr', 'Gender', 'Work_Experience', 'Family_Size',
       'Ever_Married', 'Graduated', 'Profession', 'Spending_Score', 'Var_1',
       'Segmentation'],
      dtype='object')

In [23]:
x_var = ['Age_gr', 'Gender', 'Work_Experience', 'Family_Size', 
         'Ever_Married', 'Graduated', 'Spending_Score']

In [24]:
dt = DecisionTreeClassifier(max_depth=7, random_state=123)

In [25]:
dt.fit(train[x_var], train.Segmentation)

DecisionTreeClassifier(max_depth=7, random_state=123)

In [26]:
pred = dt.predict(test[x_var])

In [28]:
dt.score(test[x_var], test.Segmentation)

0.6807116104868914

In [ ]:
# (정답) 0.68

# Dataset_06

In [ ]:
# =============================================================================
# =============================================================================
# # 문제 06 유형(DataSet_06.csv 이용)
#
# 구분자 : comma(“,”), 4,323 Rows, 19 Columns, UTF-8 인코딩

# 주택 관련 정보를 바탕으로 주택 가격을 예측해 보고자 한다. 
# 다음은 확보한 주택 관련 데이터로 총 19개 컬럼으로 구성되어
# 있다.

# 컬 럼 / 정 의 / Type
# id / 매물 번호 / Double
# date / 날짜 / String
# price / 거래 가격 / Double
# bedrooms / 방 개수 / Double
# bathrooms / 화장실 개수 (화장실은 있으나 샤워기 없는 경우 0.5로 처리) / Double
# sqft_living / 건축물 면적 / Double
# sqft_lot / 대지 면적 / Double
# floors / 건축물의 층수 / Double
# waterfront / 강변 조망 가능 여부 (0 / 1) / Double
# view / 경관 (나쁨에서 좋음으로 0 ~ 4로 표시) / Double
# condition / 관리 상태 (나쁨에서 좋음으로 1 ~ 5로 표시) / Double
# grade / 등급 (낮음에서 높음으로 1 ~ 13으로 표시) / Double
# sqft_above / 지상 면적 / Double
# sqft_basement / 지하실 면적 / Double
# yr_built / 건축 연도 / Double
# yr_renovated / 개축 연도 / Double
# zipcode / 우편번호 / Double
# sqft_living15 / 15개의 인근 주택의 평균 건물 면적 / Double
# sqft_lot15 / 15개의 인근 주택의 평균 대지 면적 / Double
# =============================================================================
# =============================================================================

In [41]:
import pandas as pd
import numpy as np

## 1.

In [ ]:
# =============================================================================
# 1.강변 조망이 가능한지 여부(waterfront)에 따라 평균 주택 가격을 계산하고 조망이
# 가능한 경우와 그렇지 않은 경우의 평균 가격 차이의 절대값을 구하시오. 답은
# 소수점 이하는 버리고 정수부만 기술하시오. (답안 예시) 1234567
# =============================================================================

In [29]:
dataset6 = pd.read_csv('Dataset/Dataset_06.csv')

In [30]:
dataset6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4323 non-null   int64
 1   date           4323 non-null   object
 2   price          4323 non-null   float64
 3   bedrooms       4323 non-null   int64
 4   bathrooms      4323 non-null   float64
 5   sqft_living    4323 non-null   int64
 6   sqft_lot       4323 non-null   int64
 7   floors         4323 non-null   float64
 8   waterfront     4323 non-null   int64
 9   view           4323 non-null   int64
 10  condition      4323 non-null   int64
 11  grade          4323 non-null   int64
 12  sqft_above     4323 non-null   int64
 13  sqft_basement  4323 non-null   int64
 14  yr_built       4323 non-null   int64
 15  yr_renovated   4323 non-null   int64
 16  zipcode        4323 non-null   int64
 17  sqft_living15  4323 non-null   int64
 18  sqft_lot15     4323 non-null   int64
dtypes: float64(3), int64(15), object(1)
memory usage: 641.8+ KB

In [31]:
q1 = dataset6.copy()

In [32]:
q1.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15
0,2597000006,20150309T000000,347500.0,3,1.50,1180,8353,1.0,0,0,3,7,1180,0,1960,0,98155,1710,8748
1,8813400345,20150414T000000,575000.0,2,1.00,980,3663,1.0,0,0,5,7,980,0,1909,0,98105,1620,3706
2,226059106,20150102T000000,489500.0,3,1.75,2090,65558,1.0,0,0,3,8,1330,760,1977,0,98072,2450,47178
3,8645500270,20141028T000000,246000.0,4,1.75,1720,7455,1.0,0,0,4,7,1020,700,1963,0,98058,1720,7700
4,7010700550,20141114T000000,595000.0,3,2.50,2030,5100,2.0,0,0,3,7,2030,0,2008,0,98199,1790,4380

In [33]:
q1_tab = q1.groupby(['waterfront'])['price'].mean()
q1_tab

waterfront
0    5.321651e+05
1    1.699438e+06
Name: price, dtype: float64

In [34]:
q1_tab[0]

532165.1307692308

In [35]:
abs(q1_tab[0] - q1_tab[1])

1167272.748018648

In [ ]:
# (답) 1167272

### 해설

In [66]:
q1_1 = dataset6[dataset6.waterfront==1]['price'].mean()
q1_2 = dataset6[dataset6.waterfront==0]['price'].mean()

In [67]:
abs(q1_1 - q1_2)

1167272.748018648

In [ ]:
# (정답) 1167272

## 2.

In [ ]:
# =============================================================================
# 2.price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, yr_built 등 7개의 변수 간의
# 상관분석을 수행하고 price와의 상관계수의 절대값이 가장 큰 변수와 가장 작은
# 변수를 차례로 기술하시오. (답안 예시) view, zipcode
# 
# =============================================================================

In [45]:
q1[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'yr_built']].corr()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,yr_built
price,1.000000,0.279824,0.534277,0.709157,0.106341,0.270423,0.059895
bedrooms,0.279824,1.000000,0.468611,0.517502,0.017658,0.151279,0.137440
bathrooms,0.534277,0.468611,1.000000,0.751835,0.105676,0.495845,0.509019
sqft_living,0.709157,0.517502,0.751835,1.000000,0.180408,0.368670,0.323522
sqft_lot,0.106341,0.017658,0.105676,0.180408,1.000000,0.032762,0.062490
floors,0.270423,0.151279,0.495845,0.368670,0.032762,1.000000,0.505070
yr_built,0.059895,0.137440,0.509019,0.323522,0.062490,0.505070,1.000000

In [47]:
q2_out = q1[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'yr_built']].corr()['price']
q2_out

price          1.000000
bedrooms       0.279824
bathrooms      0.534277
sqft_living    0.709157
sqft_lot       0.106341
floors         0.270423
yr_built       0.059895
Name: price, dtype: float64

In [ ]:
# (답) sqft_living, yr_built

### 해설

In [68]:
x_var = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'yr_built']

In [69]:
q2 = dataset6[x_var]

In [71]:
q2_out = q2.corr()['price']
q2_out

price          1.000000
bedrooms       0.279824
bathrooms      0.534277
sqft_living    0.709157
sqft_lot       0.106341
floors         0.270423
yr_built       0.059895
Name: price, dtype: float64

In [72]:
q2_out = q2.corr().iloc[1:, 0]
q2_out

bedrooms       0.279824
bathrooms      0.534277
sqft_living    0.709157
sqft_lot       0.106341
floors         0.270423
yr_built       0.059895
Name: price, dtype: float64

In [73]:
q2_out.max()

0.7091565835706303

In [74]:
q2_out.min()

0.059895410779646746

In [79]:
q2_out.nlargest(1)

sqft_living    0.709157
Name: price, dtype: float64

In [80]:
q2_out.nsmallest(1)

yr_built    0.059895
Name: price, dtype: float64

In [ ]:
# (정답) sqft_living, yr_built

## 3.

In [ ]:
## =============================================================================
# 3. id, date, 그리고 zipcode를 제외한 모든 변수를 독립변수로, price를 종속변수로 하여
# 회귀분석을 수행하시오. 통계적 유의성을 갖지 못하는 독립변수를 제거하면 회귀
# 모형에 남는 변수는 모두
# 몇 개인가? 이 때 음의 회귀계수를 가지는 변수는 몇 개인가? (답안 예시) 5, 3
# =============================================================================

# =============================================================================
# (참고)
# import pandas as pd
# import numpy as np
# from sklearn.linear_model import LinearRegression
# from statsmodels.formula.api import ols
# =============================================================================

In [50]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols

In [51]:
q1.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [53]:
x = q1[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 
        'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 
        'yr_renovated', 'sqft_living15', 'sqft_lot15']]
y = q1['price']

In [54]:
lm = LinearRegression()
lm.fit(x, y)

LinearRegression()

In [55]:
lm.coef_

array([-2.49955251e+04,  5.17923445e+04,  9.23080441e+01,  5.44484390e-03,
        3.74819905e+04,  6.27652844e+05,  4.03977832e+04,  1.57057341e+04,
        1.30627396e+05,  3.37357935e+01,  5.85722507e+01, -3.66689567e+03,
        1.77031918e+01,  2.30114429e+01, -2.32290365e-01])

In [56]:
lm?

Type:        LinearRegression
String form: LinearRegression()
File:        c:\users\boram yun\anaconda3\envs\multi\lib\site-packages\sklearn\linear_model\_base.py
Docstring:
Ordinary least squares Linear Regression.

LinearRegression fits a linear model with coefficients w = (w1, ..., wp)
to minimize the residual sum of squares between the observed targets in
the dataset, and the targets predicted by the linear approximation.

Parameters
----------
fit_intercept : bool, default=True
    Whether to calculate the intercept for this model. If set
    to False, no intercept will be used in calculations
    (i.e. data is expected to be centered).

normalize : bool, default=False
    This parameter is ignored when ``fit_intercept`` is set to False.
    If True, the regressors X will be normalized before regression by
    subtracting the mean and dividing by the l2-norm.
    If you wish to standardize, please use
    :class:`sklearn.preprocessing.StandardScaler` before calling ``fit`` on
    an estimator with ``normalize=False``.

copy_X : bool, default=True
    If True, X will be copied; else, it may be overwritten.

n_jobs : int, default=None
    The number of jobs to use for the computation. This will only provide
    speedup for n_targets > 1 and sufficient large problems.
    ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
    ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
    for more details.

Attributes
----------
coef_ : array of shape (n_features, ) or (n_targets, n_features)
    Estimated coefficients for the linear regression problem.
    If multiple targets are passed during the fit (y 2D), this
    is a 2D array of shape (n_targets, n_features), while if only
    one target is passed, this is a 1D array of length n_features.

rank_ : int
    Rank of matrix `X`. Only available when `X` is dense.

singular_ : array of shape (min(X, y),)
    Singular values of `X`. Only available when `X` is dense.

intercept_ : float or array of shape (n_targets,)
    Independent term in the linear model. Set to 0.0 if
    `fit_intercept = False`.

See Also
--------
sklearn.linear_model.Ridge : Ridge regression addresses some of the
    problems of Ordinary Least Squares by imposing a penalty on the
    size of the coefficients with l2 regularization.
sklearn.linear_model.Lasso : The Lasso is a linear model that estimates
    sparse coefficients with l1 regularization.
sklearn.linear_model.ElasticNet : Elastic-Net is a linear regression
    model trained with both l1 and l2 -norm regularization of the
    coefficients.

Notes
-----
From the implementation point of view, this is just plain Ordinary
Least Squares (scipy.linalg.lstsq) wrapped as a predictor object.

Examples
--------
>>> import numpy as np
>>> from sklearn.linear_model import LinearRegression
>>> X = np.array([[1, 1], [1, 2], [2, 2], [2, 3]])
>>> # y = 1 * x_0 + 2 * x_1 + 3
>>> y = np.dot(X, np.array([1, 2])) + 3
>>> reg = LinearRegression().fit(X, y)
>>> reg.score(X, y)
1.0
>>> reg.coef_
array([1., 2.])
>>> reg.intercept_
3.0000...
>>> reg.predict(np.array([[3, 5]]))
array([16.])

In [57]:
# 식 구성한 후 대입하는 방식
var_list = list(q1.columns)

In [58]:
'+'.join(var_list)

'id+date+price+bedrooms+bathrooms+sqft_living+sqft_lot+floors+waterfront+view+condition+grade+sqft_above+sqft_basement+yr_built+yr_renovated+zipcode+sqft_living15+sqft_lot15'

In [62]:
form='price~'+'+'.join(var_list)
form

'price~id+date+price+bedrooms+bathrooms+sqft_living+sqft_lot+floors+waterfront+view+condition+grade+sqft_above+sqft_basement+yr_built+yr_renovated+zipcode+sqft_living15+sqft_lot15'

In [63]:
form = 'price~bedrooms+bathrooms+sqft_living+sqft_lot+floors+waterfront+view+condition+grade+sqft_above+sqft_basement+yr_built+yr_renovated+sqft_living15+sqft_lot15'

In [64]:
ols = ols(form, data=q1).fit()

In [65]:
# ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.681
Model:                            OLS   Adj. R-squared:                  0.680
Method:                 Least Squares   F-statistic:                     656.0
Date:                Tue, 24 Aug 2021   Prob (F-statistic):               0.00
Time:                        10:39:58   Log-Likelihood:                -58960.
No. Observations:                4323   AIC:                         1.180e+05
Df Residuals:                    4308   BIC:                         1.180e+05
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      6.302e+06   2.95e+05     21.401      0.000    5.73e+06    6.88e+06
bedrooms        -2.5e+04   3680.510     -6.791      0.000   -3.22e+04   -1.78e+04
bathrooms      5.179e+04   7163.408      7.230      0.000    3.77e+04    6.58e+04
sqft_living      92.3080      5.074     18.192      0.000      82.360     102.256
sqft_lot          0.0054      0.093      0.059      0.953      -0.176       0.187
floors         3.748e+04   8141.392      4.604      0.000    2.15e+04    5.34e+04
waterfront     6.277e+05   3.91e+04     16.064      0.000    5.51e+05    7.04e+05
view            4.04e+04   4797.344      8.421      0.000     3.1e+04    4.98e+04
condition      1.571e+04   5317.387      2.954      0.003    5280.918    2.61e+04
grade          1.306e+05   4700.604     27.789      0.000    1.21e+05     1.4e+05
sqft_above       33.7358      4.981      6.773      0.000      23.971      43.501
sqft_basement    58.5723      5.840     10.030      0.000      47.123      70.021
yr_built      -3666.8957    150.805    -24.316      0.000   -3962.551   -3371.241
yr_renovated     17.7032      8.265      2.142      0.032       1.499      33.908
sqft_living15    23.0114      7.561      3.044      0.002       8.188      37.834
sqft_lot15       -0.2323      0.142     -1.637      0.102      -0.511       0.046
==============================================================================
Omnibus:                     2170.721   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38362.875
Skew:                           1.971   Prob(JB):                         0.00
Kurtosis:                      17.051   Cond. No.                     2.29e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.1e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [ ]:
# (답) 14, 2

### 해설

In [ ]:
# 디퍼런스?

In [81]:
q3 = dataset6.drop(columns=['id', 'date', 'zipcode'])

In [82]:
x_var = q3.columns.drop('price')
x_var

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'sqft_living15',
       'sqft_lot15'],
      dtype='object')

In [83]:
from statsmodels.formula.api import ols

In [86]:
form = 'price~'+'+'.join(x_var)
form

'price~bedrooms+bathrooms+sqft_living+sqft_lot+floors+waterfront+view+condition+grade+sqft_above+sqft_basement+yr_built+yr_renovated+sqft_living15+sqft_lot15'

In [87]:
ols1 = ols(form, data=q3).fit()

In [88]:
ols1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.681
Model:                            OLS   Adj. R-squared:                  0.680
Method:                 Least Squares   F-statistic:                     656.0
Date:                Tue, 24 Aug 2021   Prob (F-statistic):               0.00
Time:                        10:51:19   Log-Likelihood:                -58960.
No. Observations:                4323   AIC:                         1.180e+05
Df Residuals:                    4308   BIC:                         1.180e+05
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      6.302e+06   2.95e+05     21.401      0.000    5.73e+06    6.88e+06
bedrooms        -2.5e+04   3680.510     -6.791      0.000   -3.22e+04   -1.78e+04
bathrooms      5.179e+04   7163.408      7.230      0.000    3.77e+04    6.58e+04
sqft_living      92.3080      5.074     18.192      0.000      82.360     102.256
sqft_lot          0.0054      0.093      0.059      0.953      -0.176       0.187
floors         3.748e+04   8141.392      4.604      0.000    2.15e+04    5.34e+04
waterfront     6.277e+05   3.91e+04     16.064      0.000    5.51e+05    7.04e+05
view            4.04e+04   4797.344      8.421      0.000     3.1e+04    4.98e+04
condition      1.571e+04   5317.387      2.954      0.003    5280.918    2.61e+04
grade          1.306e+05   4700.604     27.789      0.000    1.21e+05     1.4e+05
sqft_above       33.7358      4.981      6.773      0.000      23.971      43.501
sqft_basement    58.5723      5.840     10.030      0.000      47.123      70.021
yr_built      -3666.8957    150.805    -24.316      0.000   -3962.551   -3371.241
yr_renovated     17.7032      8.265      2.142      0.032       1.499      33.908
sqft_living15    23.0114      7.561      3.044      0.002       8.188      37.834
sqft_lot15       -0.2323      0.142     -1.637      0.102      -0.511       0.046
==============================================================================
Omnibus:                     2170.721   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38362.875
Skew:                           1.971   Prob(JB):                         0.00
Kurtosis:                      17.051   Cond. No.                     2.29e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.1e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [89]:
len(x_var)

15

In [90]:
dir(ols1)

['HC0_se',
 'HC1_se',
 'HC2_se',
 'HC3_se',
 '_HCCM',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abat_diagonal',
 '_cache',
 '_data_attr',
 '_data_in_cache',
 '_get_robustcov_results',
 '_is_nested',
 '_use_t',
 '_wexog_singular_values',
 'aic',
 'bic',
 'bse',
 'centered_tss',
 'compare_f_test',
 'compare_lm_test',
 'compare_lr_test',
 'condition_number',
 'conf_int',
 'conf_int_el',
 'cov_HC0',
 'cov_HC1',
 'cov_HC2',
 'cov_HC3',
 'cov_kwds',
 'cov_params',
 'cov_type',
 'df_model',
 'df_resid',
 'diagn',
 'eigenvals',
 'el_test',
 'ess',
 'f_pvalue',
 'f_test',
 'fittedvalues',
 'fvalue',
 'get_influence',
 'get_prediction',
 'get_robustcov_results',
 'initialize',
 'k_constant',
 'llf',
 'load',
 'model',
 'mse_model',
 'mse_resid',
 'mse_total',
 'nobs',
 'normalized_cov_params',
 'outlier_test',
 'params',
 'predict',
 'pvalues',
 'remove_data',
 'resid',
 'resid_pearson',
 'rsquared',
 'rsquared_adj',
 'save',
 'scale',
 'ssr',
 'summary',
 'summary2',
 't_test',
 't_test_pairwise',
 'tvalues',
 'uncentered_tss',
 'use_t',
 'wald_test',
 'wald_test_terms',
 'wresid']

In [100]:
ols1.pvalues < 0.05

Intercept         True
bedrooms          True
bathrooms         True
sqft_living       True
sqft_lot         False
floors            True
waterfront        True
view              True
condition         True
grade             True
sqft_above        True
sqft_basement     True
yr_built          True
yr_renovated      True
sqft_living15     True
sqft_lot15       False
dtype: bool

In [101]:
sum(ols1.pvalues < 0.05) - 1 # intercept 제외

13

In [ ]:
# (정답) 13, 2

# Dataset_07

In [ ]:
# =============================================================================
# =============================================================================
# # 문제 07 유형(DataSet_07.csv 이용)
#
# 구분자 : comma(“,”), 400 Rows, 9 Columns, UTF-8 인코딩
#
# 대학원 진학을 위하여 어떤 항목이 중요하게 영향을 미치는지
# 아래 데이터로 분석하고자 한다.

# 컬 럼 / 정 의 / Type
# Serial_No / 구분자 번호 / Double
# GRE / GRE 시험 성적 / Double
# TOEFL / TOEFL 시험 성적 / Double
# University_Rating / 대학 평가 그룹 (1 ~ 5) / Double
# SOP / 자기 소개서 점수 (1 ~ 5) / Double
# LOR / 추천서 점수 (1 ~ 5) / Double
# CGPA / 학부 평량 평점 (10점 만점 환산 점수) / Double
# Research / 연구 참여 경험 여부 (0 / 1) / Double
# Chance_of_Admit / 합격 가능성 / Double
# =============================================================================
# =============================================================================

In [ ]:
# =============================================================================
# (참고)
# #1
# import pandas as pd
# #2
# import scipy.stats as stats
# #3
# from sklearn.linear_model import LogisticRegression
# Solver = ‘liblinear’, random_state = 12
# =============================================================================

In [102]:
import pandas as pd
import scipy.stats as stats
from sklearn.linear_model import LogisticRegression

## 1.

In [ ]:
# =============================================================================
# 1. 합격 가능성에 GRE, TOEFL, CGPA 점수 가운데 가장 영향이 큰 것이 어떤 점수인지
# 알아 보기 위해서 상관 분석을 수행한다.
# - 피어슨(Pearson) 상관계수 값을 구한다.
# - Chance_of_Admit와의 가장 큰 상관계수 값을 가지는 항목의 상관계수를 소수점 넷째
# 자리에서 반올림하여 셋째 자리까지 기술하시오. (답안 예시) 0.123
# =============================================================================

In [103]:
dataset7 = pd.read_csv('Dataset/Dataset_07.csv')

In [104]:
q1 = dataset7[['Chance_of_Admit', 'GRE', 'TOEFL', 'CGPA']]

In [106]:
np.round(q1.corr()['Chance_of_Admit'], 3)

Chance_of_Admit    1.000
GRE                0.803
TOEFL              0.792
CGPA               0.873
Name: Chance_of_Admit, dtype: float64

In [ ]:
# (답) 0.873

### 해설

In [115]:
q1 = dataset7[['GRE', 'TOEFL', 'CGPA', 'Chance_of_Admit']].corr()

In [116]:
q1.iloc[:-1, -1]

GRE      0.802610
TOEFL    0.791594
CGPA     0.873289
Name: Chance_of_Admit, dtype: float64

In [117]:
q1.iloc[:-1, -1].max()

0.8732890993553003

In [ ]:
# (정답) 0.873

## 2.

In [ ]:
# =============================================================================
# 2.GRE 점수의 평균 이상을 받은 그룹과 평균 미만을 받은 그룹의 CGPA 평균은 차이가
# 있는지
# 검정을 하고자 한다.
# - 적절한 검정 방법을 선택하고 양측 검정을 수행하시오 (등분산으로 가정)
# - 검정 결과, 검정통계량의 추정치를 소수점 셋째 자리에서 반올림하여 소수점 두 자리까지
# 기술하시오.
# (답안 예시) 1.23
# =============================================================================

In [108]:
q2 = dataset7[['GRE', 'CGPA']]

In [107]:
from scipy.stats import ttest_ind

In [109]:
ttest_ind(q2.CGPA[q2.GRE >= q2.GRE.mean()], 
          q2.CGPA[q2.GRE < q2.GRE.mean()], 
          equal_var=True)

Ttest_indResult(statistic=19.443291692470982, pvalue=1.1127037052806161e-59)

In [ ]:
# (답) 19.44

### 해설

In [118]:
q2 = dataset7.copy()

In [119]:
GRE_avg = q2.GRE.mean()
GRE_avg

316.8075

In [ ]:
# 방법 1. np.where

In [ ]:
# 방법 2.

In [120]:
q2['GRE_gr'] = 'under'

In [121]:
q2.loc[ q2['GRE'] >= GRE_avg , 'GRE_gr'] = 'over'

In [122]:
from scipy.stats import ttest_ind

In [123]:
a = q2[q2['GRE_gr']=='over']['CGPA']
b = q2[q2['GRE_gr']=='under']['CGPA']

In [124]:
ttest_ind(a, b, equal_var=True)

Ttest_indResult(statistic=19.443291692470982, pvalue=1.1127037052806161e-59)

In [ ]:
# Ttest_indResult(statistic=19.443291692470982, 
#                 pvalue=1.1127037052806161e-59)

In [ ]:
# (정답) 19.443

## 3.

In [ ]:
# =============================================================================
# 3.Chance_of_Admit 확률이 0.5를 초과하면 합격으로, 이하이면 불합격으로 구분하고
# 로지스틱 회귀분석을 수행하시오.
# - 원데이터만 사용하고, 원데이터 가운데 Serial_No와 Label은 모형에서 제외
# - 각 설정값은 다음과 같이 지정하고, 언급되지 않은 사항은 기본 설정값을 사용하시오
# Seed : 123
# - 로지스틱 회귀분석 수행 결과에서 로지스틱 회귀계수의 절대값이 가장 큰 변수와 그 값을
# 기술하시오. 
# (로지스틱 회귀계수는 반올림하여 소수점 둘째 자리까지 / Intercept는 제외)
# (답안 예시) abc, 0.12
# =============================================================================

In [111]:
dataset7.columns

Index(['Serial_No', 'GRE', 'TOEFL', 'University_Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'Chance_of_Admit'],
      dtype='object')

In [125]:
raw = dataset7.copy()

In [128]:
raw['Label'] = np.where(raw.Chance_of_Admit >= 0.5, 1, 0)
raw['Label']

0      1
1      1
2      1
3      1
4      1
      ..
395    1
396    1
397    1
398    1
399    1
Name: Label, Length: 400, dtype: int32

In [129]:
raw.head()

,Serial_No,GRE,TOEFL,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit,Label
0,1,337,118,4,4.5,4.5,9.65,1,0.92,1
1,2,324,107,4,4.0,4.5,8.87,1,0.76,1
2,3,316,104,3,3.0,3.5,8.00,1,0.72,1
3,4,322,110,3,3.5,2.5,8.67,1,0.80,1
4,5,314,103,2,2.0,3.0,8.21,0,0.65,1

In [131]:
q3 = raw.drop(columns = ['Serial_No', 'Chance_of_Admit', 'Label'])

In [136]:
log_lm = LogisticRegression(solver = 'liblinear', random_state = 12)
log_lm.fit(q3, raw.Label)

LogisticRegression(random_state=12, solver='liblinear')

In [137]:
log_lm.coef_

array([[-0.09580381,  0.12816755,  0.03760055, -0.36607006,  1.00072287,
         2.07552513,  0.78625153]])

In [ ]:
# (답) CGPA, 2.07

In [138]:
log_lm2 = LogisticRegression(solver = 'liblinear', random_state = 12, C=100000)
log_lm2.fit(q3, raw.Label)

LogisticRegression(C=100000, random_state=12, solver='liblinear')

In [139]:
log_lm2.coef_

array([[ 0.03033479,  0.16877131, -0.67546588, -0.7572899 ,  0.97055767,
         3.98796499,  0.11021019]])

### 해설

In [140]:
dataset7.columns

Index(['Serial_No', 'GRE', 'TOEFL', 'University_Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'Chance_of_Admit'],
      dtype='object')

In [141]:
dataset7.dtypes

Serial_No              int64
GRE                    int64
TOEFL                  int64
University_Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance_of_Admit      float64
dtype: object

In [142]:
q3 = dataset7.drop(columns=['Serial_No'])

In [143]:
import numpy as np

In [144]:
q3['ch_ad'] = np.where(q3.Chance_of_Admit > 0.5, 1, 0)

In [145]:
from sklearn.linear_model import LogisticRegression

In [161]:
x = q3.drop(columns=['Chance_of_Admit', 'ch_ad'])
y = q3.ch_ad

In [162]:
# 문제 조건 확인 (맞추지 않으면 최적 도달하지 못하는 경우)
logit = LogisticRegression(fit_intercept=True, 
                           random_state=12, 
                           solver='liblinear', 
                           C=100000).fit(x, y)

In [163]:
logit.coef_

array([[-0.00735162,  0.1149377 , -0.43998563, -0.51819765,  1.05802024,
         3.33949905,  0.11500903]])

In [152]:
# x.columns

Index(['GRE', 'TOEFL', 'University_Rating', 'SOP', 'LOR', 'CGPA', 'Research',
       'ch_ad'],
      dtype='object')

In [149]:
x.columns.values

array(['GRE', 'TOEFL', 'University_Rating', 'SOP', 'LOR', 'CGPA',
       'Research', 'ch_ad'], dtype=object)

In [164]:
q3_out = pd.DataFrame([x.columns.values, logit.coef_])
q3_out

,0,1,2,3,4,5,6
0,GRE,TOEFL,University_Rating,SOP,LOR,CGPA,Research
1,"[-0.007351623910449681, 0.11493770280364839, -...",None,None,None,None,None,None

In [165]:
q3_out = pd.DataFrame({'var' : x.columns.values, 
                       'coef' : logit.coef_.reshape(-1)})
q3_out

                 var      coef
0                GRE -0.007352
1              TOEFL  0.114938
2  University_Rating -0.439986
3                SOP -0.518198
4                LOR  1.058020
5               CGPA  3.339499
6           Research  0.115009

In [ ]:
# 수정

In [159]:
# 문제 조건 확인 (맞추지 않으면 최적 도달하지 못하는 경우)
logit3 = LogisticRegression(fit_intercept=True, 
                           random_state=12, 
                           solver='liblinear').fit(x2, y)

In [160]:
q3_out3 = pd.DataFrame({'var' : x2.columns.values, 
                       'coef' : logit3.coef_.reshape(-1)})
q3_out3

                 var      coef
0                GRE -0.087786
1              TOEFL  0.106870
2  University_Rating  0.055942
3                SOP -0.232291
4                LOR  0.983366
5               CGPA  1.978584
6           Research  0.662632

# Dataset_08

In [ ]:
# =============================================================================
# =============================================================================
# # 문제 08 유형(DataSet_08.csv 이용)
#
# 구분자 : comma(“,”), 50 Rows, 5 Columns, UTF-8 인코딩
#
# 스타트업 기업들의 수익성에 대한 분석을 하기 위하여
# 아래와 같은 데이터를 입수하였다
#
# 
# 컬 럼 / 정 의 / Type
# RandD_Spend / 연구개발비 지출 / Double
# Administration / 운영관리비 지출 / Double
# Marketing_Spend / 마케팅비 지출 / Double
# State / 본사 위치 / String
# Profit / 이익 / Double
# =============================================================================
# =============================================================================

In [ ]:
# =============================================================================
# (참고)
# #1
# import pandas as pd
# import numpy as np
# #3
# from sklearn.linear_model import LinearRegression
# =============================================================================

In [166]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [167]:
dataset8 = pd.read_csv('Dataset/Dataset_08.csv')

In [168]:
dataset8.columns

Index(['RandD_Spend', 'Administration', 'Marketing_Spend', 'State', 'Profit'], dtype='object')

In [169]:
dataset8.dtypes

RandD_Spend        float64
Administration     float64
Marketing_Spend    float64
State               object
Profit             float64
dtype: object

## 1.

In [ ]:
# =============================================================================
# 1.각 주(State)별 데이터 구성비를 소수점 둘째 자리까지 구하고, 알파벳 순으로
# 기술하시오(주 이름 기준).
# (답안 예시) 0.12, 0.34, 0.54
# =============================================================================

## 2.

In [ ]:
# =============================================================================
# 2.주별 이익의 평균을 구하고, 평균 이익이 가장 큰 주와 작은 주의 차이를 구하시오. 
# 차이값은 소수점 이하는 버리고 정수부분만 기술하시오. (답안 예시) 1234
# =============================================================================

## 3.

In [ ]:
# =============================================================================
# 3.독립변수로 RandD_Spend, Administration, Marketing_Spend를 사용하여 Profit을 주별로
# 예측하는 회귀 모형을 만들고, 이 회귀모형을 사용하여 학습오차를 산출하시오.
# - 주별로 계산된 학습오차 중 MAPE 기준으로 가장 낮은 오차를 보이는 주는 어느
# 주이고 그 값은 무엇인가? (반올림하여 소수점 둘째 자리까지 기술하시오)
# - (MAPE = Σ ( | y - y ̂ | / y ) * 100/n )
# (답안 예시) ABC, 1.56
# =============================================================================

In [237]:
q3 = dataset8.copy()

In [238]:
lm = LinearRegression().fit(q3[['RandD_Spend', 'Administration', 'Marketing_Spend']], q3.Profit)

In [239]:
lm.coef_

array([ 0.80571505, -0.02681597,  0.02722806])

In [240]:
q3.columns

Index(['RandD_Spend', 'Administration', 'Marketing_Spend', 'State', 'Profit'], dtype='object')

In [241]:
state = list(q3.State.unique())
state

['New York', 'California', 'Florida']

In [247]:
''' # state 변수명 변경 필요
q3_out = []

for i in state:
    temp = q3[q3.State == i]
    
    globals()['lm_'+str(i)] = LinearRegression().fit(temp[['RandD_Spend', 'Administration', 'Marketing_Spend']], temp.Profit)
    r2_score = eval('lm_'+str(i)).score(temp[['RandD_Spend', 'Administration', 'Marketing_Spend']], temp.Profit)
    q3_out = q3_out + [[i, r2_score]]
    
q3_out = pd.DataFrame(q3_out, columns=['state', 'r2_score'])
q3_out
'''

SyntaxError: unexpected EOF while parsing (<string>, line 1)

### 해설

In [179]:
from sklearn.linear_model import LinearRegression

In [178]:
dataset8.State.unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [180]:
x_var = ['RandD_Spend', 'Administration', 'Marketing_Spend']

In [181]:
temp = dataset8[dataset8.State == 'New York']

In [183]:
lm_NY = LinearRegression().fit(temp[x_var], temp.Profit)

In [185]:
pred_NY = lm_NY.predict(temp[x_var])

In [186]:
mape_NY = (abs(temp.Profit - pred_NY) / temp.Profit).sum() * 100 / len(temp)
mape_NY

8.524247700724837

In [187]:
temp = dataset8[dataset8.State == 'California']

lm_Ca = LinearRegression().fit(temp[x_var], temp.Profit)
pred_Ca = lm_Ca.predict(temp[x_var])

mape_Ca = (abs(temp.Profit - pred_Ca) / temp.Profit).sum() * 100 / len(temp)
mape_Ca

15.227582003020185

In [188]:
temp = dataset8[dataset8.State == 'Florida']

lm_Fl = LinearRegression().fit(temp[x_var], temp.Profit)
pred_Fl = lm_Fl.predict(temp[x_var])

mape_Fl = (abs(temp.Profit - pred_Fl) / temp.Profit).sum() * 100 / len(temp)
mape_Fl

5.706713100164492

In [ ]:
# (정답) Florida, 5.71

# Dataset_09

In [ ]:
# =============================================================================
# =============================================================================
# # 문제 09 유형(DataSet_09.csv 이용)
#
# 구분자 : comma(“,”), 2000 Rows, 16 Columns, UTF-8 인코딩
#
# 항공사에서 고객만족도 조사를 하고 서비스 개선에 활용하고자
# 아래와 같은 데이터를 준비하였다.
#
# 컬 럼 / 정 의 / Type
# satisfaction / 서비스 만족 여부 / String
# Gender / 성별 / String
# Age / 나이 / Double
# Customer_Type / 고객 타입 / String
# Class / 탑승 좌석 등급 / String
# Flight_Distance / 비행 거리 / Double
# Seat_comfort / 좌석 안락도 점수 / Double
# Food_and_Drink / 식사와 음료 점수 / Double
# Inflight_wifi_service / 기내 와이파이 서비스 점수 / Double
# Inflight_entertainment / 기내 엔터테인먼트 서비스 점수 / Double
# Onboard_service / 탑승 서비스 점수 / Double
# Leg_room_service / 다리 공간 점수 / Double
# Baggage_handling / 수하물 취급 점수 / Double
# Cleanliness / 청결도 점수 / Double
# Departure_Daly_in_Minutes / 출발 지연 (분) / Double
# Arrival_Delay_in_Minutes / 도착 지연 (분) / Double
# =============================================================================
# =============================================================================

In [ ]:
# =============================================================================
# (참고)
# #1
# import pandas as pd
# import numpy as np
# #2
# import scipy.stats as stats
# #3
# from sklearn.linear_model import LogisticRegression
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# 
# =============================================================================

In [189]:
import pandas as pd
import numpy as np

import scipy.stats as stats

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

## 1.

In [ ]:
# =============================================================================
# 1.데이터 타입을 위 표에 정의된 타입으로 전처리를 한 후, 데이터 파일 내에 결측값은
# 총 몇 개인가? (답안 예시) 1
# =============================================================================

## 2.

In [ ]:
# =============================================================================
# 2.다음에 제시된 데이터 처리를 하고 카이제곱 독립성 검정을 수행하시오.
# - 결측값이 있다면 해당 행을 제거하시오.
# - 나이는 20 이하이면 10, 30 이하이면 20, 40 이하이면 30, 50 이하이면 40, 60 이하이면 50, 
# 60 초과는 60으로 변환하여 Age_gr으로 파생변수를 생성하시오.
# - Age_gr, Gender, Customer_Type, Class 변수가 satisfaction에 영향이 있는지 카이제곱
# 독립성 검정을 수행하시오. 
# - 연관성이 있는 것으로 파악된 변수의 검정통계량 추정치를 정수 부분만 기술하시오. 
# (답안 예시) 123
# =============================================================================

## 3.

In [ ]:
# =============================================================================
# 3.고객 만족도를 라벨로 하여 다음과 같이 로지스틱 회귀분석을 수행하시오. 
# - 결측치가 포함된 행은 제거
# - 데이터를 7대 3으로 분리 (Seed = 123)
# - 아래의 11개 변수를 Feature로 사용
# Flight_Distance, Seat_comfort, Food_and_drink, Inflight_wifi_service, 
# Inflight_entertainment,Onboard_service, Leg_room_service, Baggage_handling,
# Cleanliness, Departure_Delay_in_Minutes, Arrival_Delay_in_Minutes
# 
# - Seed = 123, 이외의 항목은 모두 Default 사용
# - 예측 정확도를 측정하고 dissatisfied의 f1 score를 소수점 넷째 자리에서 반올림하여
# 소수점 셋째 자리까지 기술하시오. (답안 예시) 0.123
# =============================================================================

# Dataset_10

In [ ]:
# =============================================================================
# =============================================================================
# # 문제 10 유형(DataSet_10.csv 이용)
#
# 구분자 : comma(“,”), 1538 Rows, 6 Columns, UTF-8 인코딩

# 중고 자동차 가격에 대한 분석을 위하여 아래와 같은 데이터를
# 확보하였다.

# 컬 럼 / 정 의 / Type
# model / 모델명 / String
# engine_power / 엔진 파워 / Double
# age_in_days / 운행 일수 / Double
# km / 운행 거리 / Double
# previous_owners / 이전 소유자 수 / Double
# price / 중고차 가격 / Double
# =============================================================================
# =============================================================================

In [ ]:
# =============================================================================
# (참고)
# #1
# import pandas as pd
# import numpy as np
# #2
# import scipy.stats as ststs
# #3
# from sklearn.linear_model import LinearRegression
# =============================================================================

In [ ]:
import pandas as pd
import numpy as np

import scipy.stats as ststs

from sklearn.linear_model import LinearRegression

In [190]:
dataset10 = pd.read_csv('Dataset/Dataset_10.csv')

In [191]:
dataset10.columns

Index(['model', 'engine_power', 'age_in_days', 'km', 'previous_owners',
       'price', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'],
      dtype='object')

In [192]:
dataset10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1538 entries, 0 to 1537
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   model            1538 non-null   object
 1   engine_power     1538 non-null   int64
 2   age_in_days      1538 non-null   int64
 3   km               1538 non-null   int64
 4   previous_owners  1538 non-null   int64
 5   price            1538 non-null   int64
 6   Unnamed: 6       0 non-null      float64
 7   Unnamed: 7       0 non-null      float64
 8   Unnamed: 8       0 non-null      float64
 9   Unnamed: 9       0 non-null      float64
 10  Unnamed: 10      0 non-null      float64
 11  Unnamed: 11      0 non-null      float64
 12  Unnamed: 12      0 non-null      float64
 13  Unnamed: 13      0 non-null      float64
 14  Unnamed: 14      0 non-null      float64
 15  Unnamed: 15      0 non-null      float64
 16  Unnamed: 16      0 non-null      float64
dtypes: float64(11), int64(5), object(1)
memory usage: 204.4+ KB

In [197]:
dataset10.head()

,model,engine_power,age_in_days,km,previous_owners,price,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,lounge,51,882,25000,1,8900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,pop,51,1186,32500,1,8800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sport,74,4658,142228,1,4200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,lounge,51,2739,160000,1,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,pop,73,3074,106880,1,5700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1. .drop(how=) & .pivor_table()

In [ ]:
# =============================================================================
# 1.이전 소유자 수가 한 명이고 엔진 파워가 51인 차에 대해 모델별 하루 평균 운행
# 거리를 산출하였을 때 가장 낮은 값을 가진 모델이 가장 큰 값을 가진 모델에 대한
# 비율은 얼마인가? 소수점 셋째 자리에서 반올림하여 소수점 둘째 자리까지
# 기술하시오.
# (모델별 평균 → 일평균 → 최대최소 비율 계산) (답안 예시) 0.12
# =============================================================================

In [198]:
q1 = dataset10.copy()

In [199]:
q1 = q1[(q1['previous_owners'] == 1) & (q1['engine_power'] == 51)]
q1

,model,engine_power,age_in_days,km,previous_owners,price,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,lounge,51,882,25000,1,8900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,pop,51,1186,32500,1,8800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,lounge,51,2739,160000,1,6000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,lounge,51,731,11600,1,10750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,lounge,51,1521,49076,1,9190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1532,pop,51,1917,52008,1,9900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1533,sport,51,3712,115280,1,5200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1535,pop,51,2223,60457,1,7500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1536,lounge,51,2557,80750,1,5990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1537,pop,51,1766,54276,1,7900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 해설

In [201]:
import pandas as pd

dataset10 = pd.read_csv('Dataset/Dataset_10.csv')
# 불러올 때 na처리
data1 = dataset10.dropna(axis=1, how='all')
data1

       model  engine_power  age_in_days      km  previous_owners  price
0     lounge            51          882   25000                1   8900
1        pop            51         1186   32500                1   8800
2      sport            74         4658  142228                1   4200
3     lounge            51         2739  160000                1   6000
4        pop            73         3074  106880                1   5700
...      ...           ...          ...     ...              ...    ...
1533   sport            51         3712  115280                1   5200
1534  lounge            74         3835  112000                1   4600
1535     pop            51         2223   60457                1   7500
1536  lounge            51         2557   80750                1   5990
1537     pop            51         1766   54276                1   7900

[1538 rows x 6 columns]

In [203]:
q1 = data1[data1.previous_owners == 1]
q1_2 = q1[q1.engine_power == 51]

In [204]:
len(data1) # 1538
len(q1) # 1389
len(q1_2) # 1312

(1538, 1389, 1312)

In [206]:
# 모델별 평균
q1_3 = pd.pivot_table(data=q1_2, index='model', 
                      values=['age_in_days', 'km'])
q1_3

        age_in_days            km
model
lounge  1343.450366  44123.670846
pop     1800.509804  58097.532680
sport   3031.387755  96460.979592

In [210]:
q1_3['days'] = q1_3['km'] / q1_3['age_in_days']
q1_3

        age_in_days            km       days
model
lounge  1343.450366  44123.670846  32.843544
pop     1800.509804  58097.532680  32.267268
sport   3031.387755  96460.979592  31.820733

In [211]:
q1_3['days']['sport']

31.82073274178998

In [212]:
q1_3['days']['sport'] / q1_3['days']['lounge']

0.9688580804724013

In [ ]:
# (정답) 0.97

## 2.

In [ ]:
# =============================================================================
# 2.운행 일수에 대한 운행 거리를 산출하고, 위 1번 문제에서 가장 큰 값을 가지고 있던
# 모델과 가장 낮은 값을 가지고 있던 모델 간의 운행 일수 대비 운행거리 평균이 다른지
# 적절한 통계 검정을 수행하고 p-value를 소수점 세자리 이하는 버리고 소수점
# 두자리까지 기술하고 기각 여부를 Y / N로 답하시오. (등분산을 가정하고 equal_var = 
# True / var.equal = T로 분석을 실행하시오.)
# (답안 예시) 0.23, Y
# =============================================================================

### 해설

In [213]:
q2 = q1.copy()

In [214]:
q2['km_per_day'] = q2['km'] / q2['age_in_days']

In [215]:
big = q2[q2.model=='lounge']['km_per_day']
small = q2[q2.model=='sport']['km_per_day']

In [217]:
from scipy.stats import ttest_ind

In [218]:
ttest_ind(big, small, equal_var=True)

Ttest_indResult(statistic=1.1025375913936746, pvalue=0.27047828249848516)

In [ ]:
# (정답) 0.27, N

## 3.

In [ ]:
# =============================================================================
# 3.독립변수로 engine_power, age_in_days, km를 사용하고 종속변수로 price를 사용하여
# 모델별 선형회귀분석을 수행하고, 산출된 모형을 사용하여 다음과 같은 조건의
# 중고차에 대한 가격을 예측하고 예측된 가격을 정수부만 기술하시오.
# - model : pop / engine_power : 51 / age_in_days : 400 / km : 9500 / previous_owners : 2

# (답안 예시) 12345
# =============================================================================

In [219]:
q3 = dataset10.copy()

In [ ]:
x_var = ['engine_power', 'age_in_days', 'km']

In [ ]:
x = q3[x_var]
y = q3.price

In [220]:
lm = LinearRegression().fit(x, y)

In [ ]:
# test = model : pop / engine_power : 51 / age_in_days : 400 / km : 9500 / previous_owners : 2

In [ ]:
lm.predict()

### 해설

In [221]:
from sklearn.linear_model import LinearRegression

In [222]:
x_var = ['engine_power', 'age_in_days', 'km']

In [223]:
lm = LinearRegression().fit(q3[x_var], q3.price)

In [225]:
# ols는 다른 변수가 있어도 가능
new_data = pd.DataFrame({
    'model' : ['pop'], 
    'engine_power' : [51], 
    'age_in_days' : [400], 
    'km' : [9500], 
    'previous_owners' : [2]})

In [226]:
new_data

  model  engine_power  age_in_days    km  previous_owners
0   pop            51          400  9500                2

In [228]:
# LinearRegression 해당하는 변수만
new_data = pd.DataFrame({
    'engine_power' : [51], 
    'age_in_days' : [400], 
    'km' : [9500]})

In [229]:
new_data

   engine_power  age_in_days    km
0            51          400  9500

In [230]:
new_data2 = np.array([[51, 400, 9500]])

In [231]:
lm.predict(new_data)

array([10469.80695185])

In [232]:
lm.predict(new_data2)

array([10469.80695185])

In [ ]:
# (정답) 10469